@media all and (max-width: 1200px) {
  .container {
    max-width: 100%;
    padding: 0 40px;
  }

  .wrapper {
    flex-wrap: wrap;
  }

  .wrapper__right {
    width: 100%;
  }

  .wrapper__left {
    width: 80%;
    margin: auto;
  }

  .wrapper__right img:first-child {
    display: block;
    margin: auto;
  }
}

@media all and (max-width: 768px) {
  .portfolio-list__item-third {
    display: none;
  }

  .wrapper__right img:first-child {
    width: 80%;
  }

  .services_list {
    justify-content: center;
  }
}

@media screen and (max-width: 425px) {
  header .navigation,
  .search {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  .wrapper__left h1 {
    font-size: 42px;
  }

  :root {
    --main-size: 16px;
    --section-title-size: 32px;
  }

  .right__icons {
    width: 10%;
  }

  .action-btn {
    width: 150px;
    height: 40px;
  }

  .portfolio,
  section {
    margin-top: 30px;
  }

  .portfolio-list__item-second {
    display: none;
  }

  .portfolio-list img {
    width: 90%;
  }

  .portfolio-list div {
    width: 90%;
  }

  footer .navbar,
  .navigation {
    flex-direction: column;
    text-align: center;
  }

  .logo img {
    width: 60%;
  }

  .navbar {
    padding: 10px 0;
  }

  #vector-3 {
    left: -5px;
    bottom: -7px;
  }

  .services {
    margin-top: 50px;
  }

  .dots {
    display: none;
  }

  .arrows {
    display: flex;
    margin-top: 30px;
  }
}
