* {
  /* box-sizing: border-box; */
  font-family: var(--headers-family);
  scroll-behavior: smooth;
}

section {
  padding-top: 50px;
  margin-top: 120px;
}

body {
  background-color: #19191b;
  color: #ffffff;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  position: sticky;
  top: 0;
  background-color: #19191b;
  z-index: 3;
}

.burger-menu {
  display: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;

  width: 100%;
}

.navigation {
  display: flex;
  list-style-type: none;
  gap: 40px;
}

.navigation__item a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: 0.3s;
}

.navigation__item a:hover {
  color: var(--primary-color);
}

.search input {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

/* ? Hero  */

.hero {
  margin-top: 0;
  padding-top: 0;
  background-image: url("../images/Rectangle\ 9521.png");
  background-size: contain;
  /* background-position: 30px 50px; */
  background-repeat: no-repeat;
}

.wrapper {
  display: flex;
}

.wrapper__left {
  margin-top: 50px;
  width: 45%;
}

.wrapper__left h1 {
  font-size: 80px;
  line-height: 70px;
  font-family: var(--headers-family);
}

.wrapper__left p {
  color: var(--secondary-color);
  font-size: var(--main-size);
  font-family: var(--headers-family);
}

.action-btn {
  width: 200px;
  height: 60px;
  border-radius: 4px;
  background-color: var(--primary-color);
  color: white;
  font-size: var(--main-size);
  border: none;
  cursor: pointer;
  margin-top: 30px;
  font-family: var(--headers-family);
}

.wrapper__right {
  width: 50%;
  position: relative;
}

/* .wrapper__right img:first-child {
  width: 100%;
} */

.right__icons {
  position: absolute;
}

#vector-1 {
  top: 60px;
}

#vector-2 {
  top: 30px;
  right: 0;
}

#vector-3 {
  left: -55px;
  bottom: -55px;
}

#vector-4 {
  right: 0;
  bottom: 0;
}

/* services  */
.services {
  margin-top: 200px;
  padding-top: 50px;
}

.section-title {
  font-size: var(--section-title-size);
}

.services .section-title {
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
}

.services_list {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 90px;
}

.services_list__item {
  max-width: 300px;
  margin: 0 40px;
  text-align: center;
}

.item__title {
  font-size: 28px;
  font-weight: 600;
}

.item__description {
  color: var(--secondary-color);
}

.portfolio {
  margin-top: 120px;
}

.portfolio-list {
  display: flex;
}

.portfolio-list__item-second {
  margin-top: 50px;
}

.portfolio-list__item-third {
  margin-top: 100px;
}

.portfolio-list div {
  width: 35%;
}

.dots {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.dots__item {
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 50%;
}

.arrows {
  display: none;
  justify-content: center;
  gap: 12px;
}

.arrows .active {
  background-color: var(--primary-color);
}

.arrow {
  width: 38px;
  height: 38px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots .active {
  width: 16px;
  background-color: var(--primary-color);
  border-radius: 35px;
}

.contact-us .section-title {
  max-width: 800px;
}

.contact-us .wrapper {
  justify-content: space-between;
  align-items: center;
}

.contact-us .action-btn {
  margin-right: 20px;
}

.site-data {
  color: var(--secondary-color);
}

.burger-list {
  height: 0;
  overflow: hidden;
  transition: all 0.3s;
  position: fixed;
  background-color: #19191b;
  width: 100%;
  top: 48px;
  z-index: 3;
}
